* {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.greenBoxContainer .greenBoxContainerContained {
  height: 100px;
  background-color: #cdf765;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
}
.greenBoxContainer .greenBoxContainerContained button {
  background-color: black;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 50px;
}
.greenBoxContainer .greenBoxContainerContained .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: white;
  background-color: #2b4a44;
  padding: 15px;
  border-radius: 100%;
}
.greenBoxContainer .greenBoxContainerContained .greenBoxIcon {
  padding: 0 20px;
}
.greenBoxContainer .greenBoxContainerContained .greenBoxButtonSpan {
  padding-right: 20px;
}
.greenBoxContainer .greenBoxContainerContained .greenBoxTextDiv {
  flex-grow: 5555;
}
.greenBoxContainer .greenBoxContainerContained .greenBoxTextDiv .greenBoxTopText {
  font-weight: 550;
  font-size: 1.2rem;
  padding-top: 8px;
  line-height: 2px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.greenBoxContainer .greenBoxContainerContained {
  height: 100px;
  background-color: #cdf765;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
}

.greenBoxContainer .greenBoxContainerContained button {
  background-color: black;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
}

.greenBoxContainer .greenBoxContainerContained .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: white;
  background-color: #2b4a44;
  padding: 15px;
  border-radius: 100%;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxIcon {
  padding: 0 20px;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxButton {
  padding-right: 20px;
  font-size: 14px;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxTextDiv {
  flex-grow: 5555;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxTextDiv .greenBoxTopText {
  font-weight: 200;
  font-size: 20px;
  padding-top: 8px;
} 

* {
  text-decoration: none;
}

body {
  height: 1210px;
  /* padding: 0px 20px; */
  border: 0px;
  margin: 0px;
  background-image: linear-gradient(to bottom,#dfd5bc 0%, #dfd5bc 50%, #f3ecda 50%, #f3ecda 100%);
}

.background2 {
  background-color: #f3ecda;
  display: flex;
  padding: 4px;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 0px 5px;
  font-size: 14px;
  height: 25px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0px 10px;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 0px 5px;
}

.sticky {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: #dfd5bc;
  padding: 20px 20px 25px 20px;
  top: 0px;
  z-index: 30;
}

.button {
  background-color: #ece3cd;
  border-radius: 100%;
  padding: 10px;
  color: #bc9d6e;
}

.blackbutton {
  background-color: #f3ecda;
  border-radius: 100%;
  padding: 10px;
  color: black;
}

.button:hover,
.blackbutton:hover {
  opacity: 50%;
}

img {
  max-height: 25px;
  padding: 5.5px;
  background-color: rgba(114, 110, 96, 0.1);
  border-radius: 100%;
}

.profile {
  width: 40px;
  height: 50;
  padding: 0px;
  max-height: 35px;
  border-style: solid white;
}

.flex {
  align-items: center;
  display: flex;
}

.initials {
  background-color: #cdf765;
  padding: 7px;
  border-radius: 100%;
}

.gap {
  gap: 4px;
}

.invite {
  background-color: #FFF;
  display: flex;
  padding: 8px;
  border-radius: 50px;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard {
  font-size: larger;
  justify-content: space-between;
}

#whitebackground {
  background-color: white;
}

.maxheight {
  max-height: 38px;
}

.robothelper {
  min-width: 253px;
}

.whitedashboard {
  background-color: white;
  border-radius: 50px;
}

.black {
  color: black;
}

.datasourcesBox {
  height: 200px;
  background-color: white;
  align-items: center;
  border-radius: 15px;
  margin: 25px 0 0 0;


  
}
.datasourcesBox .datasourcesInnerBox {
  height: 40%;
  width: 98%;
  align-self: center;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.datahead {
  padding: 25px 20px 0px 20px;
  margin: 0px 0px 15px 0px;
}

.chatboxhead {
  padding: 0px 20px 0px 20px;
}

.pmargin {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}

body {
  background-color: #dfd5bc;
}

.dataCardContainer {
  width: 100%;
  margin: 10px 0px 53px 0px;
  display: flex;
  gap: 25px;
}
.dataCardContainer .dataCardData {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.dataCardContainer .topCardSection {
  height: 150px;
}
.dataCardContainer .dataCard {
  background-color: white;
  height: 250px;
  width: 33%;
  border-radius: 15px;
  margin: 0 auto;
}
.dataCardContainer .topDataIcon {
  border-radius: 100%;
  background-color: #f3ecda;
  padding: 15px;
}
.dataCardContainer p {
  font-size: 1.2rem;
}
.dataCardContainer .bottomPaddingP {
  padding-bottom: 15px;
  color: grey;
  font-size: 1rem;
}
.dataCardContainer .bottomCardSection {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataCardContainer .arrowIcon {
  padding: 10px;
  border-radius: 100%;
  border: 1px solid rgb(217, 217, 217);
}/*# sourceMappingURL=style.css.map */

.chatTable {
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ddd;

}

tr:last-of-type {
  border-bottom: none;
}



/* td:nth-of-type(3) {
  column-width: 300px;
} */

.chatTable td {
  padding: 15px 20px;
  column-width: 400px;
}

td:last-of-type {
  column-width: 35px;
  font-weight: bolder
}
/* 
.chatTable, th, td {
  border: 1px solid black;
  border-radius: 100%;
  border-left: none;
  border-right: none;
} */

.writingicon {
  padding: 8px 12px 8px 0px;
}

/* .lighterbackground {
  background: #f3ecda;
  padding: 20px;
} */

/* .darkerbackground {
  background-color: #dfd5bc;
  height: 3000px;
  padding: 0px 20px;
  border: 0px;
  margin: 0px;
} */

.supacoolBorder {
  border: 2px #ededed solid;
}

.padding {
  padding: 0px 20px;
}

.chatTable .whiteBox {
  height: 70%;
  width: 98%;
  align-self: center;
  margin: 0 auto;
  border: 1px solid #a4a4a4;
  border-radius: 15px;
}

.manageButton {
  font-size: 14px;
  padding: 13px;
}

.boxshadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.spacebetween {
  justify-content: space-between;
  padding: 5px 0px
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.subtitleFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888888
}

.subtitleFont2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h2 {
  margin: 18px 0px 0px 0px
}

.headingFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.chatbotBox {
  height: 340px;
  background-color: white;
  align-items: center;
  border-radius: 15px;
}

.menuFont {
  font-weight:300;
  font-size: 20px;
  align-items: center;
}

hr {
  opacity: 10%;
}

.logoFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 900;
  padding: 0px 5px;
}

.greenBoxBottomText {
  font-weight: 100;
  color: #3b3b3b
}
/* 
.greenBoxTopText {
  font-weight: bold;
  font-size: 25px;
} */