* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.flex {
  align-items: center;
  display: flex;
}

.gap {
  gap: 4px;
}

body {
  margin: 0px;
  background-image: linear-gradient(to bottom,#dfd5bc 0%, 
    #dfd5bc 50%, #f3ecda 50%, #f3ecda 100%);
  height: 1237px;
}

.mainContentContainer {
  padding: 0px 20px;
}

.supacoolBorder {
  border: 2px #ededed solid;
}

.iconMargin {
  padding: 8px 12px 8px 0px;
}

.boxshadow {
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.background2Frame {
  background-color: #f3ecda;
  display: flex;
  padding: 4px;
  border-radius: 50px;
  width: fit-content;
}

img {
  max-height: 25px;
  padding: 5.5px;
  background-color: rgba(114, 110, 96, 0.1);
  border-radius: 100%;
}

.spacebetween {
  justify-content: space-between;
  padding: 5px 0px
}

.whiteButton {
  padding: 13px;
  font-size: 14px;
  background-color: #FFF;
  display: flex;
  border-radius: 50px;
  width: fit-content;
}

.subheadingFont {
  font-size: 25px;
  font-weight: 300;
}

.subtitleFont {
font-size: 16px;
font-weight: 300;
color: #888888
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  height: 25px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0px 10px;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 0px 5px;
}

.navbar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: #dfd5bc;
  padding: 20px 20px 30px 20px;
  top: 0px;
  z-index: 30;
}

.navbar .logoFont {
  font-weight: 900;
  padding: 0px 8px;
}

.navbar .logoCentering {
  margin: 0px 127px 0px 0px;
}

.navbar .button {
  background-color: #ece3cd;
  border-radius: 100%;
  padding: 10px;
  color: #bc9d6e;
}

.navbar .blackButton {
  background-color: #f3ecda;
  border-radius: 100%;
  padding: 10px;
  color: black;
}

.navbar .button:hover,
.navbar .blackButton:hover {
  opacity: 50%;
}

.navbar .initials {
  background-color: #cdf765;
  padding: 7px;
  border-radius: 100%;
}

.profile {
  width: 40px;
  padding: 0px;
  max-height: 40px;
  border-style: solid white;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

#whiteFrame {
  background-color: white;
  border-radius: 50px;
  min-height: 45px;
}

.greenBoxContainer .greenBoxContainerContained {
  height: 100px;
  background-color: #cdf765;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
}

.greenBoxContainer .greenBoxContainerContained button {
  background-color: black;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
}

.greenBoxContainer .greenBoxContainerContained .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: white;
  background-color: #2b4a44;
  padding: 15px;
  border-radius: 100%;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxIcon {
  padding: 0 20px;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxButtonSpan {
  padding-right: 20px;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxButton {
  padding-right: 20px;
  font-size: 14px;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxTextDiv {
  flex-grow: 5555;
}

.greenBoxContainer .greenBoxContainerContained .greenBoxTextDiv .greenBoxTopText {
  font-weight: 200;
  font-size: 20px; /*1.2rem*/
  padding-top: 8px;
  line-height: 2px;
} 

.greenBoxContainer .greenBoxBottomText {
  font-weight: 100;
  color: #3b3b3b
}

.dataCardContainer {
  width: 100%;
  margin: 5px 0px 53px 0px;
  display: flex;
  gap: 25px;
}
.dataCardContainer .dataCardData {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.dataCardContainer .topCardSection {
  height: 150px;
}
.dataCardContainer .dataCard {
  background-color: white;
  height: 250px;
  width: 33%;
  border-radius: 15px;
  margin: 0 auto;
}
.dataCardContainer .topDataIcon {
  border-radius: 100%;
  background-color: #f3ecda;
  padding: 15px;
}
.dataCardContainer p {
  font-size: 1.2rem;
}
.dataCardContainer .bottomPaddingP {
  padding-bottom: 15px;
  color: grey;
  font-size: 1rem;
}
.dataCardContainer .bottomCardSection {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataCardContainer .arrowIcon {
  padding: 10px;
  border-radius: 100%;
  border: 1px solid rgb(217, 217, 217);
}

.dataCardContainer hr {
  opacity: 10%;
}

.chatbotBox {
  background-color: white;
  align-items: center;
  border-radius: 15px;
  padding: 0px 20px 20px 20px;
}

.chatbotBox h2 {
  margin: 18px 0px 0px 0px
}

.chatTable {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  border-collapse: collapse;
}

.chatTable td {
  padding: 15px 20px;
  column-width: 400px;
}

.chatTable td:last-of-type {
  column-width: 35px;
  font-weight: bolder;
}

.chatTable tr {
  border-bottom: 1px solid #ddd;
}

.chatTable tr:last-of-type {
  border-bottom: none;
}

.chatTable .menuFont {
  font-weight:300;
  font-size: 20px;
  align-items: center;
}

.datasourcesBox {
  height: 200px;
  background-color: white;
  align-items: center;
  border-radius: 15px;
  margin: 25px 0 0 0;
}

.datasourcesBox .datasourcesInnerBox {
  height: 40%;
  width: 98%;
  align-self: center;
  margin: 0 auto;
  border-radius: 15px;
}

.datasourcesBox .dataHead {
  padding: 25px 20px 0px 20px;
  margin: 0px 0px 15px 0px;
}

.datasourcesBox .pmargin {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}